nav {
    background-color: #1a1a2e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}

.container{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 0;
}

.box-table{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
    width: 1080px;
    box-shadow: 1px 1px 7px gray;
}

.table{
    width: 50vw;
}

.table-maior{
    width: 1200px;
}

.box-functions{
    width: 95vw;
    padding: 3%;
    margin-left: 2vw;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: 1px 1px 7px gray;
    display: flex;
    flex-direction: row;
}

.functions1{

    display: flex;
    flex-direction: column;
    

}

.functions2{

    display: flex;
    flex-direction: column;

}

#title{
    text-align: center;
    padding: 20px;
}

.table{
    border: none;   
}

.input{
    border: none;
    border-radius: 30px;
    box-shadow: 1px 1px 6px rgb(185, 185, 185);  
    padding: 6px;
    margin-left: 15px;

}

.input:hover{
    box-shadow: 1px 1px 6px rgb(165, 165, 165);  
}

.input:focus{
    outline: none;
    box-shadow: 1px 1px 7px rgb(37, 161, 255);
}

.btn{
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    box-shadow: 1px 1px 7px gray;
    margin-left: 20px;
}

.btn:hover{
    background-color: white;
    color: black;
}

#btn-apagar{
    background-color: red;
    color: white;
}

#btn-apagar:hover{
    background-color: white;
    color: red;
}

#btn-fechar{
    position: relative;
    left: 160px;
    background-color: red;
    color: white;
}

#btn-fechar:hover{
    background-color: white;
    color: red;
}

.nova-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 120px;
    margin: auto;
    position: relative;
    border-radius: 30px;
    box-shadow: 1px 1px 7px gray;
}

.btn-abrir{
    height: 40px;
    width: 90px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 40px;
    box-shadow: 1px 1px 7px gray;
}

.btn-abrir:hover{
    background-color: white;
    color: green;
}

/* RESPONSIVIDADE */

@media (max-width: 450px){

    

}

@media (min-width: 451px) and (max-width: 750px){

    
    
}

@media (min-width: 751px) and (max-width: 1250px){

    
    
}